.desaparecer{ display: none
    
}

.aparecer{ display: block
    
}



body{
    text-align: center; text-decoration-style: neon; color: ghostwhite  ;
    background-image: url("https://i.pinimg.com/564x/0f/f7/57/0ff75777faa089cc467a063a4fa7f4e0.jpg"); 
    box:align-self auto;

}